<button class="btn btn-lg mx-auto next-button" (click)="gotoLevel(gps.currentLevel - gps.currentLevel % 1 - 1)">back</button>

<ng-content></ng-content>

<ng-template [appErrorMsgPiece]="errMsgCount" let-text>
	<p @textAppear>{{text}}</p>
</ng-template>

<!-- <ng-template [appLvlIndPiece]="errMsgCount" let-text>
		<p @textAppear>{{text}}</p>
	</ng-template> -->


<div @textAppear *appTextPiece="gps.isUnlocked(0.1)">
	<p>
		It's cold inside. It's freezing inside. In a certain corner of my mind, I found myself curled up on the side of the high way, snow accumulating on the ground and on my body as I sighed my last breath: the bits of warmth turning into cystals of ice. A pair of eyes were watching me silently behind the behind the glass window of a car. The windshield of the car is stained with blood, my blood. The eyes were indifferent, because on a cold, grey side of the highway, an injured doe is as good as dead. <br/>
		The car drove away.
	</p>
</div>

<div @textAppear *appTextPiece="gps.isUnlocked(0.2)">
	<p>
		Limbo is the edge, the border, the in-between. Who would have thought heaven and hell, life and death, concious and dream all had such a blurry line of separation? So blurry that one can find an entire world of trapped souls in limbo.
	</p>
</div>

<div @textAppear *appTextPiece="gps.isUnlocked(0.3)">
	<p>
		The exit glows green over my head. I open the door but found myself stepping into another room that looks exactly the same I was just in. Except there is a window! I pushed open the window and climbed onto a balcony that apparently only looks over the floor of a bigger room with arched roofs. I complained: "Why is it called an exit when I could only travel from one inside to another inside?" Soon, I'll learn to forget an "outside" with blue skys ever existed. Through these doors I will enter deeper and deeper into the belly of the beast.
	</p>
</div>
