<div class="text-container">
	<h1 class="display-3">
		The Library of Babel
	</h1>
	<h2>
		by Jack Cai
	</h2>

	<p class="lead text-right">
		<em>By this art you may contemplate the variation of the 23 letters . . .</em>
		<br/>
		The Anatomy of Melancholy, part 2, sect. II, mem. IV
	</p>


	<span class="lead">2018/3/15 Chicago</span>
	<p>
		Finally good weather in weeks. The sun is out and strong, and its less windy than usual. Of course the cold is still there--it is always there. Even after two years living in this city, I have not gotten used to it. Call me a crybaby, but I am convinced there is something about this cold that manages to sink into my bones, lodging itself <span appHyperlink>inside</span> of me as an ancient being. Usually, I let my incessantly busy work at the <span appHyperlink>psychiatric in-patient building</span> to keep myself occupied, because I could attend to others, listen to their requests and nurse them back to health instead of being reminded of my own failing physiology.
	</p>
	<p>
		Nothing new in the building today: a pale woman with a fleshy 3-degree burn on her arm (gave her more morphine), a kid on a squeaky wheelchair with a concussion (handed him a lollipop), and an old man with a recurring hip problem (helped him walk around for a little bit).
	</p>
</div>
