.sanity-bar-left {
  width: 20vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: black;
}

.sanity-bar-right {
  width: 20vw;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: black;
}
