<div class="control-panel-container">
  <div class="control-panel">
    <div class="command d-flex" [ngClass]="{'error': commandIndicator === 1, 'success': commandIndicator === 2}">
        <div class="">
          <div class="command-caret">></div>
        </div>
        <div class="col-sm-2 d-flex justify-content-center align-items-center" *ngFor="let word of commandList">
            <div class="command-word">{{word.string}}</div>
        </div>
        <div class="">
          <div class="command-caret">_</div>
        </div>
        <div class="ml-auto" *ngIf="commandList.length > 0">
          <div class="command-caret">↵</div>
        </div>
    </div>
    <div class="row word-basket">
      <div class="col-sm-4 d-flex justify-content-center align-items-center"
        *ngFor="let word of hyperlinkService.wordList"
        (click)="toggleWord(word)">
        <div class="word" [class.selected]="checkSelected(word)">{{word.string}} ({{word.id}})</div>
      </div>
    </div>
  </div>
</div>
