<div class="control-panel-container">
  <div class="control-panel">
    <div class="enter" (click)="runCommand()" *ngIf="shouldPromptEnter()">
      <div class="command-caret">enter↵</div>
    </div>

    <div class="command d-flex" [ngClass]="{'error': commandIndicator === 1, 'success': commandIndicator === 2}">
        <!-- <div class="">
          <div class="command-caret">></div>
        </div> -->
        <div class="col-sm-4 d-flex px-0 justify-content-center align-items-center">
            <div class="command-word">{{commandList[0] ? commandList[0].string : ''}}</div>
        </div>
        <div class="col-sm-4 d-flex px-0 justify-content-center align-items-center">
          <div class="command-word">{{commandList[1] ? commandList[1].string : ''}}</div>
        </div>
        <!-- <div class="">
          <div class="command-caret underscore">_</div>
        </div> -->
    </div>

    <div class="row word-basket">
      <div class="col-sm-4 d-flex justify-content-center align-items-center"
        *ngFor="let word of hyperlinkService.wordList"
        (click)="toggleWord(word)">
        <button class="btn btn-lg word" [class.selected]="checkSelected(word)">{{word.string}}</button>
      </div>
    </div>
  </div>
</div>
