<div class="text-container">
	<ng-container *ngIf="gps.currentLevel < 1">

		<h1 class="display-3">
			The Gates of Limbo
		</h1>
		<h2>
			by Jack Cai
		</h2>

		<p class="lead text-right">
			<em>By this art you may contemplate the variation of the 23 letters . . .</em>
			<br/>
			The Anatomy of Melancholy, part 2, sect. II, mem. IV
		</p>

		<button class="btn btn-lg mx-auto next-button" (click)="gotoLevel(1)">continue</button>
	</ng-container>

	<ng-container *ngIf="gps.currentLevel >= 1 && gps.currentLevel < 2">

		<span class="lead">2018/3/15 Chicago</span>
		<p>
			Finally good weather in weeks. The sun is out and strong, and its less windy than usual. Of course the <span appHyperlink>cold</span> is still there--it is always there. Even after two years living in this city, I have not gotten used to it. Call me a crybaby, but I am convinced there is something about this cold that manages to sink into my bones, lodging itself <span appHyperlink>inside</span> of me as an ancient being. Usually, I let my incessantly busy work at the psychiatric in-patient <span appHyperlink>building</span> to keep myself occupied, because I could attend to others, listen to their requests and nurse them back to health instead of being reminded of my own failing physiology.
		</p>

	</ng-container>

	<ng-container *ngIf="gps.currentLevel === 1.1">
		<p>
			Nothing new in the building today: a pale woman with a fleshy 3-degree burn on her arm (gave her more morphine), a kid on a squeaky wheelchair with a concussion (handed him a lollipop), and an old man with a recurring hip problem (helped him walk around for a little bit).
		</p>

		<button class="btn btn-lg mx-auto next-button" (click)="gotoLevel(2)">continue</button>
	</ng-container>

	<ng-container *ngIf="gps.currentLevel >= 2 && gps.currentLevel < 3">
		<span class="lead">2018/3/15 Chicago</span>
		<p>
			Truth to be told I've been wanting to get rid of this note book for sometime now. The more time I spend on it, jotting down events at the ward, pieces of thoughts when I eat lunch or the patients I treated, the more I feel nervous that this very act of self-reflection would lead to the discovery, half-expected at this point, that there is something deeply wrong with me. Could be this habit of aimless note taking, or could be the cold in my bones. Right now there is a weak, yet precious balance in my routines, and I don't want to introduce any change to the system.
		</p>
		<p>
      In the morning, I did a routine checkup on the burn patient, which led me to believe that today is just another day I would put away to the back of my head and another page that would get buried by a thousand other identical pages, until I walked into the <span appHyperlink>room</span> of <span appHyperlink>Alan Bennet</span>. 5'11", male, 18 years old, blood type AB, half Asian, half White, probably a smart kid, probably good at math, probably aspire to be an electrical engineer, probably sneaks out of his housea at night with his friends…I let myself dream a little bit, constructing, in my mind, a happy teenager that I missed being, until reality pulled my <span appHyperlink>eyes</span> back to the document, and I realized all of those things I listed about him he has ceased to be, because the three words "persistent vegetative state" had ripped away everything that made him who he is.
    </p>
  </ng-container>

  <ng-container *ngIf="gps.currentLevel === 2.1">
    <p>
      Despite my hands shivering with the onset of coldness from my bones spreading outward, I laid my eyes on the him, or what remains of him: _______________________.
		</p>
	</ng-container>
</div>
