<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="0" height="0">
	<defs>
		<filter id="glitch" x="0" y="0">
				<feColorMatrix in="SourceGraphic" mode="matrix" values="1 0 0 0 0	0 0 0 0 0	0 0 0 0 0	0 0 0 1 0" result="r" />

			<feOffset in="r" result="r" dx="-5">
				<animate attributeName="dx" attributeType="XML" values="0; -5; 0; -18; -2; -4; 0 ;-3; 0" dur="0.2s" repeatCount="indefinite"/>
			</feOffset>
			<feColorMatrix in="SourceGraphic" mode="matrix" values="0 0 0 0 0	0 1 0 0 0	0 0 0 0 0	0 0 0 1 0" result="g"/>
			<feOffset in="g" result="g" dx="-5" dy="1">
				<animate attributeName="dx" attributeType="XML" values="0; 0; 0; -3; 0; 8; 0 ;-1; 0" dur="0.15s" repeatCount="indefinite"/>
			</feOffset>
			<feColorMatrix in="SourceGraphic" mode="matrix" values="0 0 0 0 0	0 0 0 0 0	0 0 1 0 0	0 0 0 1 0" result="b"/>
			<feOffset in="b" result="b" dx="5" dy="2">
				<animate attributeName="dx" attributeType="XML" values="0; 3; -1; 4; 0; 2; 0 ;18; 0" dur="0.35s" repeatCount="indefinite"/>
			</feOffset>
			<feBlend in="r" in2="g" mode="screen" result="blend" />
			<feBlend in="blend" in2="b" mode="screen" result="blend" />
		</filter>
	</defs>
</svg>


<div class="text-container" [ngSwitch]="gps.currentLevel - gps.currentLevel % 1">
	<!-- <button style="position: fixed; left: 0"	class="btn btn-lg mx-auto next-button " (click)="gotoLevel(gps.currentLevel + 1)">continue</button> -->
	<app-text-screen *ngSwitchCase="0" class="title-screen">

		<h1 class="display-3">
      The Gates of Limbo
		</h1>
		<h2>
			An Interactive Fiction by Jack Cai
		</h2>

		<p class="lead text-right">
			<em>By this art you may contemplate the variation of the 23 letters . . .</em>
			<br/>
			The Anatomy of Melancholy, part 2, sect. II, mem. IV
		</p>

		<button class="btn btn-lg mx-auto next-button" (click)="gotoLevel(1)">Enter?</button>
	</app-text-screen>

	<app-text-screen @textAppear *ngSwitchCase="1" (heightChanged)="scrollToBottom()"	class="title-screen">
		<p class="text-center">
			Click on <span class="linkable-word">words</span> to collect them (max 9)<br/>
			Use <span class="linkable-word">words</span> to build actions<br/>
			Certain actions will consume sanity<br/>
			<!-- Certain actions will consume curiosity<br/> -->
			Buttons means progress<br/>
			<a class="black-link" (click)="gotoLevel(1.001)"></a> means ⠀⠀⠀⠀⠀⠀⠀<span class="scary glitch" *ngIf="gps.isUnlocked(1.001)">curiosity killed the cat</span><br/>
		</p>

		<button class="btn btn-lg mx-auto next-button" (click)="gotoLevel(2)">It hurts to think, but when you see me, it means you are alright now. The gates are open, you can enter and exit all you want.</button>
	</app-text-screen>

	<app-text-screen @textAppear *ngSwitchCase="2" (heightChanged)="scrollToBottom()">
		<p class="lead">2018/3/15 Chicago, Outside of the in-patient building</p>
		<p>
			Finally good weather in weeks. The sun is out and strong, and its less windy than usual. Of course the cold is still there--it is always there. Even after two years living in this city, <span appHyperlink wordProperties="verb travelTo">walking</span> its streets, I have not gotten used to it. Call me a crybaby, but I am convinced there is something about this <span appHyperlink wordProperties="noun special">cold</span> that manages to sink into my bones, lodging itself inside of me as an ancient being. Usually, I let my incessantly busy work at the psychiatric in-patient <span appHyperlink wordProperties="noun place">building</span> to keep myself occupied, because I could attend to others, listen to their requests and nurse them back to health instead of being reminded of my own failing physiology.
		</p>

		<p>
			This morning, I arrived at work, but the song playing on radio in my car has caught my attention. "Well, I got a few more minutes till I have to clock in," I thought. I can't believe I found a way to procrastinate this early in the day.
		</p>

		<div @textAppear *appTextPiece="gps.isUnlocked(2.1)">
			<p>
				Nothing new in the building today: a pale woman with a fleshy 3-degree burn on her arm (gave her more morphine), a kid on a squeaky wheelchair with a concussion (handed him a lollipop), and an old man with a recurring hip problem (helped him walk around for a little bit).
			</p>

			<button class="btn btn-lg mx-auto next-button" (click)="gotoLevel(3)">continue</button>
		</div>
	</app-text-screen>

	<app-text-screen @textAppear *ngSwitchCase="3" (heightChanged)="scrollToBottom()">
		<p class="lead">2018/3/16 Chicago, 3rd floor of the in-patient building</p>
		<p>
			Truth to be told I've been wanting to get rid of this note book for sometime now. The more time I spend on it, jotting down events at the ward, pieces of thoughts when I eat lunch or the patients I treated, the more I feel nervous that this very act of self-reflection would lead to the discovery, half-expected at this point, that there is something deeply wrong with me. Could be this habit of aimless note taking, or could be the cold in my bones. Or the way I spend entire afternoons <span appHyperlink	wordProperties="verb examine">staring</span> at a sedated man sleeping on the hospital bed, apricot colored sunlight slowing crawling across a face darkened by forgotten pain... In any case, I have my routines and its weak, yet precious balance, and I don't want to introduce any change to the system.
		</p>
		<p>
			In the morning, I did a routine checkup on the burn patient, which led me to believe that today is just another day I would put away to the back of my head and another page that would get buried by a thousand other identical pages, until I <span appHyperlink	wordProperties="verb travelTo">walked</span> into the <span appHyperlink	wordProperties="noun place">room</span> of <span appHyperlink wordProperties="noun person">Alan Bennet</span>.
		</p>

		<div @textAppear *appTextPiece="gps.isUnlocked(3.4)">
			<p>
				5'11", male, 18 years old, blood type AB, half Asian, half White, probably a smart kid, probably good at math, probably aspire to be an electrical engineer, probably sneaks out of his housea at night with his friends…I let myself dream a little bit, constructing, in my mind, a happy teenager that I missed being, until reality pulled my eyes back to the document, and I realized all of those things I listed about him he has ceased to be, because the three words "persistent vegetative state" had ripped away everything that made him who he is. I stopped dead in my way, and thought about taking a break in my <span appHyperlink wordProperties="noun place">office</span>.
			</p>
		</div>

		<div @textAppear *appTextPiece="gps.isUnlocked(3.2)">
			<p>
				Apart from me and Alan, the room was also inabited by a living, pulsing silence.
			</p>
		</div>

		<div @textAppear *appTextPiece="gps.isUnlocked(3.1)">
			<p>
				Despite my hands shivering with the onset of coldness from my bones spreading outward, I laid my eyes on the him, or what remains of him: <a class="black-link" (click)="gotoLevel(3.11)"></a>.
			</p>

			<ng-container *ngIf="gps.isUnlocked(3.11)">
				<p class="scary glitch">
					Alan is a broken body barely patched up with plates, screws and stiches. A jungle of wires and tubes was connected to the unidentifiable body, which, like an insect caught in a spiders's web, is helplessly paralyzed in the grotesque shape of its final struggle. The visible skin, including the face, is covered by ink.
				</p>
			</ng-container>
		</div>

		<div @textAppear *appTextPiece="gps.isUnlocked(3.3)">
			<p>
				 ran back to my office to get my blanket and wrapped it tightly around myself. Then I poured myself a cup of hot coffee and drank it in three big gulps, burning my tongue. After I warmed up for a little bit, I read the rest of his document. On the night March 14th, Alan attempt suicide by jumping off of his 4-story apartment building when his mother was away buying groceries. Almost immediately a passerby saw the boy and called an ambulance. Doctors rushed him inside of an operation room, and fortunately, he survived. Unfortunately, the double failure of suicide and of modern medical technologies has led him to a place without answers and resolution, trapped inside of a <span appHyperlink	wordProperties="noun special">limbo</span>, half living, half dead. I realized it was time to swap Alan's IV bag.
      </p>

    </div>

    <div @textAppear *appTextPiece="gps.isUnlocked(3.4)">
      <p>
        This afternoon, Alan's door is locked tight. I heard voices of a few doctors in a heated debate:
        "No, no, no
      </p>

      <button class="btn btn-lg mx-auto next-button" (click)="gotoLevel(4)">I have no mouth, and I must scream.</button>
    </div>
	</app-text-screen>

	<app-text-screen @textAppear *ngSwitchCase="4" (heightChanged)="scrollToBottom()">
		<p class="lead">2018/3/17 Chicago, outside of Alan's room</p>
		<p>
			I might have thrown around some bull last night but this morning I have gained back my senses. I have not forgotten my nurse training, so as long as I treated Alan like a textbook model, the banality of work would wash out my curiosity. Over<span appHyperlink wordProperties="verb think">think</span>ing was never my thing anyways. When the kid was rolled into the hospital on a bed there was no one around, no crying parents clutching his white sheets, no friends running after him, no one. Though it might change today.
		</p>
		<div @textAppear *appTextPiece="gps.isUnlocked(4.1)">
			<p>
				Alan's first visitor is a young college student named <span appHyperlink wordProperties="noun person">Blake Caulfield</span>. He walked into the room with sharp steps and a penetrative look that made me retreat aside. We exchanged a brief greeting, and then he sat down silently on a chair beside the bed.
			</p>
		</div>
		<div @textAppear *appTextPiece="gps.isUnlocked(4.2)">
			<p>
				Dressed in jacket and jeans, his body is shaped like a few bold, black brush strokes, and his eyes reflected the world in a way that gives it his own shape and color.
			</p>
		</div>
		<div @textAppear *appTextPiece="gps.isUnlocked(4.3)">
			<p>
        "Alan, I don't know if you can hear this, but I'm sorry for everything. What happened to Charlette, and what happened to you. Everything…is broken now, and there is no way to fix it." The life support beeped on in its own rhythmical language. </br>

        The room fell silent again. Blake's eye never moved from Alan. The translucent blackness off his eyes casts a net over Alan's lifeless body. Alan's reflection now lives Blake's eyes, as if his soul might be preserved in that dark lake of tears. I felt the need for space between the two, maybe its better to walk out of the room.
			</p>
		</div>
		<div @textAppear *appTextPiece="gps.isUnlocked(4.4)">
			<p>

			</p>
		</div>
		<div @textAppear *appTextPiece="gps.isUnlocked(4.5)">
			<p>
				"Remember Charlotte?" Blake muttered, as I quietly closed the sliding the doors to the room behind me. I felt like I was sealing away an unspeakable secret--though I have no part in it.

				Half an hour later I came back. Blake has left the room, but to my curiosity he left behind his backpack, which is pack to the brim of something. I expected him to be back shortly, but he never was. I waited until midnight, yet no one has come to pick up that heavy backpack. Where could he be? The lights suddenly went out in the hallway.
			</p>
    </div>
    <div @textAppear *appTextPiece="gps.isUnlocked(4.6)">
      <p>
        Apart from me and Alan, the room was also inabited by a living, pulsing silence.
      </p>
    </div>

    <div @textAppear *appTextPiece="gps.isUnlocked(4.7)">
      <p>
        It's late at night so the hallways are all cleared up. Many sleeping bodies lied in the two rows of patient rooms on either side. Occasionally a faint white light is turned on in the hallway, revealing nothing but moving shadows. Such a <span appHyperlink wordProperties="noun person">shadow</span> limped in front of me, a few doors down the hallway, looking either drowsy or drunk.
      </p>
    </div>

    <div @textAppear *appTextPiece="gps.isUnlocked(4.8)">
      <p>
        When I walked closer to that shadow, it collapsed onto the ground under a green exit light by the stairs. I thought it was some careless patient, and ran to him. When I saw his face, I realized he was the Blake I met earlier. I shined a flashlight over him, but before I could check his vitals, I found myself looking at Blake's glassy black eyes that were wide open, pupils dialated as if deperately trying to see something. He heaved coasely, and his hair is covered in sweat even though his body is completely irresponsive. The muscles on his face started to knot up and his mouth opened up as his lips were pulled apart and exposed the teeth underneath, forming a deranged smile, or a sawing scream. There were no sounds coming out of that jagged hole on his face where his mouth used to lie, but I my auditory nerves were bombarded by signals from my own brain. It sounded like metal grinding on flesh.</br>
        I need to get away.
      </p>
    </div>

    <div @textAppear *appTextPiece="gps.isUnlocked(4.9)">
      <p>

      </p>
    </div>

    <div @textAppear *appTextPiece="gps.isUnlocked(4.11)">
      <p>
        Inside the backpack were compartments filled with camera equipments: six of seven different lenses, a couple of flashes, many spare camera batteries, SD cards, and a Nikon D3500.
        <button class="btn btn-lg mx-auto next-button" (click)="gotoLevel(5)">Open the Camera</button>
      </p>
    </div>
	</app-text-screen>

	<div @textAppear *ngSwitchCase="5" (heightChanged)="scrollToBottom()">
		<app-chapter-end></app-chapter-end>
	</div>
</div>
