<div class="container">
  <h2 class="display-4 text-center">NIKON BRAIN ACTIVITY INTERFACE</h2>
	<!-- <div class="circle-item" *ngFor="let item of gps.currentItems">

  </div> -->
  <div class="item-check">
    <p class="item-space">Think about the thing you fear-------------------------{{ findItem('cold_key') }}</p>
    <p class="item-space">Think about the place you want to escape from----------{{ findItem('limbo_key') }}</p>
    <p class="item-space">Think about the place you could never reach------------{{ findItem('exit_key') }}</p>
  </div>

  <button class="btn btn-lg mx-auto next-button" (click)="gotoLevel(7)">Access</button>
</div>
